@import url('https://fonts.googleapis.com/css2?family=Borel&family=Bree+Serif&family=Concert+One&family=Kanit:wght@200;400&family=Roboto:wght@100;300;500&display=swap');

/* Estrutura da pagina*/

html{
    overflow-y:visible;
}

body {
height:100vh;
overflow-x: hidden;
overflow-y: visible;
font-family: 'Concert One', cursive;
margin:0;
scrollbar-width: thin;
scrollbar-color: (rgb(7, 146, 238));
background: rgb(7, 146, 238);
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(7, 146, 238);
}

body::-webkit-scrollbar-track {
    background-color:rgb(7, 146, 238);
}


.back {
overflow-y: visible;
overflow-x: hidden;
background: rgb(7, 146, 238);
background-size:cover;
background-position: center;
min-height: 1000px;
width: 100%;
padding: 0;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

/* Estrutura da pagina*/

.next {
    margin-top: 60px;
}

.next2 {
    position: relative;
    margin-top: 2px;
    margin-bottom: 60px;
}

.next3 {
    position: relative;
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 60px;
}

.back h1 {
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
}

.back p{
    color: rgb(255, 255, 255);
    position: relative;
    top: -10px
}

.logo {
max-height: 90px;
width: auto;
position: relative;
top: 40px;
right: 15px;
}

/*Link tree*/

.icons {
    max-height: 49px;
    width: auto;
    position: relative;
    left: -150px;
    bottom:2px;
}

.linktree {
    display: block;
    padding: 10px;
    max-block-size: 100px;
    min-width: 350px;
    max-width: 350px;
    max-height: 45px;
    border-radius: 20px;
    box-shadow: 0 2px 10px 1px black;   
    

    text-decoration: none;
    color: white;
    position: relative;
    margin-bottom: 20px;
    
    
}
    
.linktree h2{
    position: relative;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    margin-top: -55px;
}


.back h3{
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;

}

header li{
    display: flex;
    flex-direction: column;

}


.whats{
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(101, 189, 90)), to(rgb(32, 92, 37)))fixed;
    animation: direita 1.8s;
}

.insta{
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(170, 95, 95)), to(rgba(141, 34, 145, 0.938)))fixed;
    animation: esquerda 2s;
}

.app{
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(67, 91, 143)), to(rgb(4, 0, 255)))fixed;
    animation: direita 1.8s;
}

.maps{
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(126, 126, 56)), to(rgb(77, 72, 14)))fixed;
    animation: esquerda 2s;
}

.gmail{
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(185, 61, 61)), to(rgb(100, 9, 9)))fixed;
    animation: direita 1.8s;
}

.numeros{
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(221, 144, 0)), to(orange))fixed;
    color: black;
}

.mylogo{
    max-height: 30px;
    width: auto;
    margin-left: -9px;
    margin-right: 1px;
    

}

.develop p{
    top: 30px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

@keyframes direita {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 0.8;
    }
 }

 @keyframes esquerda {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    85% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0px);
        opacity: 2.5;
    }
 }

